#notifications {
    top: 64px !important;
    width: 300px;
}

.menu-title {
    font-weight: bold;
    color: #eb6f62;
    margin: 0px 20px 0px 20px;
}

.notification-item {
    padding-left: 20px;
    padding-right: 20px;
}

.item-title, .item-info {
    margin-top: 10px;
    margin-bottom: 10px;
}
